<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup] ="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid]="nombreNoValido">
               <small *ngIf="nombreNoValido" class="text-danger">Ingrese al menos 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid]="apellidoNoValido">
               <small *ngIf="apellidoNoValido" class="text-danger">Ingrese al menos 3 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             [class.is-invalid]="correoNoValido">
             <small *ngIf="correoNoValido" class="text-danger">Ingrese un correo valido</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="Contraseña"
             formControlName="pass1"
             [class.is-invalid]="pass1NoValido">
             <!-- <small *ngIf="correoNoValido" class="text-danger">Ingrese una contraseña valida</small> -->
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Confirmar contraseña</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="Repita contraseña"
             formControlName="pass2"
             [class.is-invalid]="pass2NoValido">
             <!-- <small *ngIf="correoNoValido" class="text-danger">Ingrese un correo valido</small> -->
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="form-row col">
      <div class="col">
        <input type="text"
                class="form-control"
                formControlName="distrito"
                placeholder="Distrito"
                [class.is-invalid]="distritoNoValido">
      </div>

      <div class="col">
        <input type="text"
                class="form-control"
                formControlName="ciudad"
                placeholder="ciudad"
                [class.is-invalid]="ciudadNoValido">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td>{{i + 1}}</td>
            <td>
              <input type="text"
                    class="form-control"
                    [formControlName]="i">
            </td>
            <td>
              <button type="submit"
                      class="btn btn-lg btn-danger"
                      (click)="borrarPAsatiempo(i)">
                Borrar
              </button>

            </td>
          </tr>
        </tbody>
      </table>

      <button type="button"
              class="btn btn-lg btn-primary btn-block"
              (click)='agregarPasatiempo()'>
        Agregar
      </button>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
<hr>
<pre>
  Estado del formulario: {{forma.valid}}
  <br>
  Status: {{forma.status}}
  <pre>
    {{forma.value | json}}
  </pre>
</pre>
